<form action='/users#new' method='post' accept-charset="UTF-8">

<label for='username'>Username:</label>
<input type='text' name='user[username]'>

<label for='password'>Password:</label>
<input type='password' name='user[password]'>

<label for='email'>Email:</label>
<input type='email' name='user[email]'>

<button type='submit'>Submit</button>
</form>